<a href="/" style="font-size: larger; font-weight: bold; color: black;">Back</a>
<h1>Hanoi is the capital of Vietnam</h1>
<img src="https://upload.wikimedia.org/wikipedia/commons/1/10/Hanoi_Skyline_-_NKS.jpg" width="1300" height="700">