<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css " />
    <title>HomePage</title>
    <style>
      body {
        background-color: rgb(87, 94, 93);
      }
      h1 {
        text-align: center;
        font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
      }
      .img1 {
        display: block;
        margin: 0 auto;
      }
      .img2 {
        display: block;
        margin: 0 auto;
      }
      iframe{
        display: block;
        margin: 0 auto;
      }
    </style>
  </head>
  <body>
    <h1>Hello everyone. I am Gigachad </h1>
    </h2>
    <a href="/hn" style="font-size: larger; font-weight: bold; color: black;">Ha Noi</a>
    <br>
    <a href="/hcm" style="font-size: larger; font-weight: bold; color: black;">Ho Chi Minh</a>
    <img
      src="https://mof.com.vn/wp-content/uploads/gagichad-la-ai-1-1.jpg"
      class="img1"
    />
    <br />
    <iframe width="1300" height="700" src="https://www.youtube.com/embed/OVh0bMNSFss"></iframe>
  </body>
</html>
